@import '../../stylesheets/constants.scss';

.about {
  min-width: 421px;
  max-width: 600px;
  margin: auto 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 100%;
}

.blurb {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: left;
  border-radius: 10px;
  border: none;
  box-shadow: $boxshadow2;
  padding: 30px;
  background-color: $background; // Use your theme's background variable

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

.mainTitle, .title {
  font-size: 18px;
  color: $textColor; 
  text-align: left;
  font-weight: 600;
}

.mainTitle {
  font-size: 36px; // Larger font for the main title
}

.text {
  font-size: 16px;
  color: $textColor;
  text-align: left;
  font-weight: 400;
  margin-bottom: 20px; // Add some space after paragraphs
}

#OSPNames {
  margin-top: 10px;
  margin-bottom: 20px; // Space before the past contributors section
}