* {
    box-sizing: border-box;
    font-family: 'Ubuntu Light', 'Century Gothic', sans-serif;
    margin: 0;
    padding: 0;
    color: #000000;
    background-color: #fff;
}

body {
    padding-top: 10px;
}

.outerBox {
    max-width: 600px;
    margin: 0 auto;
    padding: 10px;
    box-shadow: 10px 15px 39px rgba(0, 0, 0, .2);
    border-radius: 5px;
}

.innerbox {
    padding: 10px;
    width: 95%;
    margin: 15px auto;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .2);
}

.displayBox {
    overflow: overlay;
    padding-top: 10px;
}

.marketBox {
    padding: 5px;
    width: 30%;
    margin: 5px 5px 13px 10px;
    float: left;
    font-size: .8em;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .2);
}

#header {
    text-align: center;
    letter-spacing: .2em;
    margin-bottom: 10px;
}

#totals {
    line-height: 1.5em;
}

input {
    margin: 10px;
}

label {
    font-weight: bold;
}

button {
    padding: 3px;
    margin: 3px;
}