@import './constants.scss';

.section-action {
  background-color: #f4f4f4;
  padding: 50px 10% 80px;
  @include centerWithFlex;

  .action {
    text-align: center;

    h2 {
      font-size: 400%;
      font-weight: 300;
      margin-bottom: 40px;
      color: #555;
    }

    p {
      font-size: 110%;
    }

    .download-btns {
      display: flex;
      justify-content: space-evenly;
      margin-top: 25px;

      button {
        width: 140px;
        padding: 10px 15px;
        font-size: 125%;
        border: 2px solid #333;
        background: transparent;
        color: #333;
        font-weight: 400;
        letter-spacing: 0px;
        transition: 0.1s;
        border-radius: 3px;

        &:hover {
          background-color: lighten(#555, 10%);
          color: white;
        }
      }
    }
  }
}
