@import './constants.scss';

.section-demo {
  background-color: darken($lightgray, 10%);
  padding: 50px 10%;
  @include centerWithFlex($justify: space-between);

  div {
    width: 33%;
    padding: 15px 0px;
    text-align: center;
    height: 400px;
    @include centerWithFlex($direction: column, $justify: space-around);

    figure {
      img {
        width: 400px;
        border-radius: 4px;
      }
    }
  }
}
