@import './constants.scss';

footer {
  background-color: black;
  color: #fff;
  height: 150px;
  @include centerWithFlex;

  .footer-container {
    @include centerWithFlex;

    img {
      height: 50px;

    }

    ul {
      @include centerWithFlex;

      li {
        margin: 0 10px;
      }
    }
  }
}

