@import './constants.scss';

.section-home {
  width: 100vw;
  height: 70vh;
  min-height: 700px;

  .hero-container {
    width: 50%;
    color: #fff;
    position: absolute;
    left: 50%;
    top: 400px;
    transform: translate(-50%, -50%);
    @include centerWithFlex($direction: column);
    animation: appear linear 1s forwards;

    .hero-chronos {
      @include centerWithFlex;
      margin-bottom: 20px;

      img {
        width: 600px;
      }
    }

    p {
      font-size: 1.5vw;
    }
    .hero-details {
      margin-bottom: 45px;
      text-align: center;
    }

    // Buttons
    .hero-btns {
      display: flex;
      justify-content: space-between;
      width: 300px;
      margin-bottom: 25px;

      button {
        border: thin solid white;
        border-radius: 3px;
        color: white;
        padding: 15px 20px;
        font-size: 130%;
        transition: 0.2s;

        &:first-of-type {
          &:hover {
            background-color: white;
            color: #333;
          }
        }

        &:last-of-type {
          border: thin solid $primary;
          color: #333;
          background-color: $primary;

          &:hover {
            background-color: darken($primary, 35%);
          }
        }

        &:hover {
        }
      }
    }
  }
}
