@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f4f4f4;
  color: #333;
  font-size: 1em;
  font-family: 'Rubik', sans-serif;
}

a {
  text-decoration: none;
  color: #333
}

button {
  border: thin solid #333;
  background-color: transparent;
}

ul {
  list-style: none;
}
