@import './constants.scss';

nav {
  @include center-with-flex($direction: row);
  position: fixed;
  width: 100%;
  // height: auto;
  padding: 20px;
  @include background-theme('dark');
  background: $black;
  z-index: 100;
  
  // Left half of nav
  .nav-left {
    @include center-with-flex;
    .nav-left-section {
      margin: 20px;
    }
    height: 100%;
    width: 50%;
    
    img {
      width: 25px;
      margin-right: 10px;
    }
    
    ul {
      @include center-with-flex;
      
      li {
        margin-right: 30px;
        // font-size: 18px;
        letter-spacing: 1px;
        height: 25px;
        
        p {
          &:hover {
            color: darken($white, 20%)
          }  
        }

        .link {
          height: 100%;
          color: $white;
        }
      }
    }
  }

  // Right half of nav
  .nav-right {
    height: 100%;
    // position: absolute;
    width: 50%;
    // right: 0;
    @include center-with-flex;

    ul {
      @include center-with-flex;
      padding-bottom: 12px;

      li {
        margin-right: 30px;
        // font-size: 120%;
        letter-spacing: 1px;
        height: 25px;

        &:hover icon {
        }

        a {
          ion-icon {
            font-size: 24px;

            &:hover {
              color: darken($white, 20%)
            }
          }
        }
      }
    }
  }

  @media (max-width: 900px) {
    position: absolute;
    @include center-with-flex($direction: column);
    .nav-left {
      @include center-with-flex($direction: column);
      width: 100%;
    }
    .nav-right {
      width: 100%;
    }
  }
}
