@import './constants.scss';

nav {
  // @include center-with-flex($direction: column);
  position: fixed;
  width: 100%;
  height: 85px;
  @include background-theme('dark');
  background: $black;
  z-index: 100;

  // Left half of nav
  .nav-left {
    #C {
      margin: 30px;
    }
    height: 100%;
    position: absolute;
    width: 50%;
    left: 0;
    @include center-with-flex;

    img {
      width: 25px;
      margin-right: 10px;
    }

    ul {
      @include center-with-flex;

      li {
        margin-right: 30px;
        font-size: 18px;
        letter-spacing: 1px;
        height: 25px;
        
        p {
          &:hover {
            color: darken($white, 20%)
          }  
        }

        .link {
          height: 100%;
          color: $white;
        }
      }
    }
  }

  // Right half of nav
  .nav-right {
    height: 100%;
    position: absolute;
    width: 50%;
    right: 0;
    @include center-with-flex;

    ul {
      @include center-with-flex;
      padding-bottom: 12px;

      li {
        margin-right: 30px;
        // font-size: 120%;
        letter-spacing: 1px;
        height: 25px;

        &:hover icon {
        }

        a {
          ion-icon {
            font-size: 24px;

            &:hover {
              color: darken($white, 20%)
            }
          }
        }
      }
    }
  }

  // @media (max-width: 805px) {
  //   @include center-with-flex($direction: column);
    
  // }
}
