@import './constants.scss';

.section-quotes {
  background-color: #f4f4f4;
  padding: 50px 10%;
  @include centerWithFlex;

  .quote-container {
    @include centerWithFlex($direction: column);
    background-color: #fff;
    box-shadow: $box-shadow;
    border-radius: 3px;
    padding: 20px;
  }
}
