.team-container {
  justify-content: center;
  width: 100%;
  padding: 3px 12px;
  padding-top: 110px;
  margin: 0px 5px;
  display: flex;
  flex-wrap: wrap;
  background-color: white;

  .bio-card {
    justify-content: center;
    text-align: center;
    margin: 5px 5px;
    width: 450px;
    height: 580px;
    padding: 10px 10px;
    position: relative;
    border-radius: 5px;
    .bio-pic {
      height: 270px;
      width: 270px;
      border: 1px solid black;
      border-radius: 50%;
    }
    .name {
      font-size: 28px;
      margin: 5px 0;
    }
    .bio {
      display: flex;
      line-height: 25px;
      padding: 10px 0;
      flex-grow: 1;
    }
    .member-contact {
      margin-left: 140px;
      position: absolute;
      bottom: 10px;
    }
    .member-contact img {
      height: 50px;
      width: 50px;
      padding: 5px 5px;
    }
    .member-linkedin:hover {
      opacity: 0.5;
    }
    .member-github:hover {
      opacity: 0.5;
    }
  }
  .bio-card:hover {
    background-color: #f0f0f5;
  }
}
