html {
  /* prevent the gradient from repeating past the visible section*/
  min-height: 100%
}

body {
  /* background-color: #333; Original background*/
  background: linear-gradient(135deg, rgba(25,0,36,1) 0%, rgb(68, 68, 68) 0%, rgb(29, 29, 29) 100%);
}

img {
  margin-bottom: -75px;
}

.header {
  color: white;
  height: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  padding-left: 5%;
  padding-top: 30%;
}

.mainContainer {
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 33% 33% 33%;
  justify-items: center;
  align-items: center;
  /* margin-top: 10%; */
  color: white;
}

.left-top {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.75vh;
  flex-direction: column;
  align-content: center;
  width: 100%;
  padding: 5% 10% 0 5%;
  align-items: center;
  justify-items: center;
  justify-content: center;
  max-height: 600px;
  overflow-y: auto;
  /* background-color: rgb(151, 151, 151) */
}

.servicesBtn {
  background-color: rgb(255, 206, 9); 
  width: 13em;
  word-wrap: break-word;
  font-size: 13px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: none;
  height: 50px;
  transition: 0.2s;
  margin: 0 8px 0 8px;
}

.servicesBtn:hover {
  background-color: rgb(250, 227, 136);
  font-weight: 400;
  box-shadow: #333;
  cursor: pointer;
}

.overviewTitle {
  margin-top: 80px;
}

.leftTopContainer {
  display: flex;
  border-right: 2px solid rgb(163, 163, 163);
  align-items: center;
  justify-content: center;
  align-content: center;
}

.left-bottom {
  max-height: 100px;
  display: flex;
  align-content: center;
  grid-auto-columns: 100%;
  align-items: center;
  align-content: center;
}

.left {
  height: 700px;
  /* display: flex; */
}

h3 {
  color: white;
  margin-left: 25px;
  font-family: Arial, Helvetica, sans-serif;
}

.servicesDashboardContainer {
  display: grid;
  grid-template-columns: 30% 70%;
}

form {
  display: grid;
  justify-items: center;
  align-items: center;
}

.userInput {
  width: 70%;
  border: 2px solid rgb(255, 206, 9);
  border-radius: 45px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  height: 50%;
  font-size: 2vh;
  padding-left: 0.25%;
  margin: 15px auto 30px auto;
}

::placeholder {
  font-size: 1.5vh;
  color: rgb(201, 201, 201);
}

.submitBtn {
  margin-top: 6%;
  margin-bottom: 10%;
  width: 50%;
  height: 40px;
  color: white;
  font-size: 2vh;
  border: 1px solid rgb(255, 206, 9);
  background-color: #333;
  transition: 0.25s;
}

.microserviceBtn {
  width: 100%;
  height: 50px;
  background-color: rgb(249, 221, 111);
  padding: 2%;
  margin: 10px 0 10px 0;
  font-size: 1.5vh;
  border: none;
  text-align: center;
  color: #333;
  transition: 0.1s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.overviewSubmitBtn {
  background-color: #333;
  width: 50%;
  margin: 8% auto 0 auto;
  height: 40px;
  border: 1px solid white;
  font-size: 1.55vh;
  color: white;
  transition: 0.25s;
}

.overviewSubmitBtn:hover {
  border: 1px solid rgb(255, 206, 9);
  color: rgb(255, 206, 9);
  cursor: pointer;
}

.servicesList {
  align-items: center;
  justify-content: center;
}

.microserviceBtn:hover {
  /* font-weight: 900; */
  cursor: pointer;
  border: 2px solid rgb(243, 239, 179);
  background-color: rgb(255, 206, 9);
}

.submitBtn:hover {
  font-weight: 700;
  cursor: pointer;
  border-radius: 10px;
  color: #333;
  background-color: rgb(255, 206, 9);
}

.servicesList {
  margin-top: 10%;
}

.signUpHeader {
  text-align: center;
  margin-top: 0%;
  font-weight: 300;
  font-size: 5.5vh;
  margin-bottom: 8vh;
}

.dashboardHeader {
  color: white;
  margin-top: 35%;
}

select {
  display: block;
  width: 30%;
  font-size: 1.75vh;
  font-weight: 400;
  /* background-color: rgb(196, 196, 196); */
  border: 2px solid rgb(255, 206, 9);
  margin-top: 1%;
  margin-bottom: 2.5%;
}

.backButton {
  height: 25px;
  background-color: #edd9a3;
  transition: 0.2s;
  margin-left: 0px;
}

.backButton:hover {
  cursor: pointer;
  background-color: #fbcd4e;
}

/* healthInfo visualizer css from 2.0 Team */
#serviceDetailsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#healthGrid {
  display: grid;
  grid-template-columns: 75px 75px 75px;
  width: auto;
  justify-items: center;
  align-items: center;
}

.healthName {
  text-align: center;
  margin-bottom: 1px;
  }

.healthChartContainer {
  margin: 10px 10px 10px 10px;
}

.healthChartContainer:hover {
  opacity: 0.7;
  }

  #routeAndTrafficDisplay {
    display: inline-flex;
  }


#microserviceHealthInfo {
  text-align: center;
  margin-top: 25px;
  }

#microserviceHealthTitle {
  margin-left: 0px;
  }

#modalWindow {
  position:fixed;
  padding:0;
  margin:0;
  top:0;
  left:0;
  width: 100%;
   height: 100%;
  background:rgba(0,0,0,.5);
}

#modalContent {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -500px;
  margin-top: -380px;
  z-index: 1;
  width: 1000px;
  height: 760px;
  background: #333;
  opacity: 1 !important;
  align-content: center;
}

#chartTitle {
  text-align: center;
  margin-bottom: 50px;
  margin-left: 0px;
  }

#modalCloseButton {
  position: absolute;
  right: 0px;
  top: 0px;
  background-color: Transparent;
  border: none;
  color: white;
  font-size: 28px;
  padding: 0px;
  margin-right: 10px;
}


.RouteCircle {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  width: 4em;
  height: 4em;
  text-align: center;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  background: rgb(244, 222, 62);
  background: linear-gradient(315deg, rgb(237, 225, 62) 57%, rgb(253, 229, 45) 100%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#routeText {
  color: rgb(97, 97, 97);
  width: 11.3em;
  margin-left: 6.8em;
  padding-top: 1.8em;
}

#routeText:hover {
  color: white;
  text-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

form {
  width: 100%;
  font-size: 2vh;
  /* margin-top: -4%; */
}
