@import './constants.scss';

.para {
  color: $background;
  text-align: left;
  
  p {
    font-size: 18px;
  }
  
  h3 {
    font-size: 32px;
  }
}

.doya {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  align-self: flex-start;
  align-content: flex-start;
  vertical-align: top;
}

.blurb {
  margin-left: 300px;
  margin-right: 200px;
  display: flex;
  flex-direction: column;
  justify-content: left;
}

#sproutSpan {
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 15px;
  margin-right: 10px;
  height: $sproutSize;
  width: $sproutSize;
  background-color: transparent;
  border-radius: 50%;
  background-size: scale-down;
  &:hover {
      background-color: $hover;
      opacity: 0.85;
      animation: none;
    }
}