*:focus {
  outline: none;
}

/* Header */

.add-container {
  width: 500px;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
}

.add-container h2 {
  margin: 0;
  text-align: center;
  font-weight: 300;
  font-size: 200%;
  color: #333;
}

.add-container form {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  font-size: 2vh;
  border: thin solid black;
  padding: 10px
}


.add-container form div {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 5px 0;
}

.add-container form div label {
  width: 100px;
  font-size: 150%;
}

/* Select */

.add-container form div select {
  font-size: 1.75vh;
  font-weight: 400;
  border: 2px solid black;
  text-align: center;
}

/* Text input */

.add-container form div input {
  flex: 1;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 10px;
  height: 25px;
  font-size: 80%;
  text-align: center;
}

::placeholder {
  color: rgb(201, 201, 201);
}

/* Submit button */

.add-container form button {
  font-size: 150%;
  width: 50%;
  height: 40px;
  color: white;
  background-color: black;
  border-radius: 10px;
  transition: 0.1s;
}

.add-container form button:hover {
  color: white;
  background-color: #494fee;
}

