@import './constants.scss';

.add-container {
  @include centerModal(30%, 500px);

  /* Header */
  .add-header {
    width: 100%;
    padding: 20px 30px;
    text-align: center;
    border-bottom: thin solid $lightgray;
    background-color: $headergray;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    h2 {
      @include modalHeader();
    }
  }

  /* Form */
  form {
    @include centerWithFlex($direction: column);
    padding: 0 30px;
    width: 100%;

    div {
      @include centerWithFlex();

      // <select /> margins
      &:first-of-type {
        margin-top: 20px;
      }

      // <textarea>
      &:last-of-type {
        @include centerWithFlex($justify: flex-start, $align: flex-start);
      }

      @include centerWithFlex(space-between);
      width: 100%;
      margin: 15px 0;

      select,
      input,
      textarea {
        font-size: 100%;
        padding: 5px;
        border: thin solid $lightgray;
        flex: 1;
        border-radius: 3px;
      }
      
      // Select field
      select {
        cursor: pointer;
        height: 30px;
        margin: 0;
        appearance: none;
        transition: 0.2s;

        &:hover {
          background-color: darken(#fff, 5%);
        }
      }

      // Text input
      input {
        height: 30px;
      }

      // Textarea
      textarea {
        resize: none;
        height: 90px;
      }

      label {
        width: 140px;
        font-size: 135%;
        font-weight: 400;
      }
    }

    /* Submit button */
    button {
      font-size: 115%;
      width: 50%;
      color: #fff;
      background-color: $sidebarblue;
      transition: 0.1s;
      margin: 20px 0;
      font-weight: 400;
      letter-spacing: 2px;
      border: thin solid $sidebarblue;
      padding: 4px;
      text-transform: uppercase;

      &:hover {
        color: $sidebarblue;
        background-color: lighten($sidebarblue, 65%);
      }
    }
  }
}

::placeholder {
  color: rgb(201, 201, 201);
}
