@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Nunito:wght@200&family=Quicksand:wght@300&display=swap');

#addServiceLogo {
  margin-bottom: 0px;
}

form {
  display: grid;
  justify-items: center;
  align-items: center;
  width: 100%;
  font-size: 2vh;
}

.mainContainer {
  font-family: 'Nunito', sans-serif;
  display: grid;
  justify-content: center;
  align-items: center;
  align-self: center;
}

#addServiceLogo {
  display: grid;
  justify-items: center;
  justify-content: center;
}

.inputForm {
  color: black;
}

.dbType {
  color: black;
}

.userInput {
  width: 70%;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 45px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  height: 50%;
  font-size: 2vh;
  padding-left: 0.25%;
  margin: 15px auto 30px auto;
  font-family: 'Nunito', sans-serif;
}

::placeholder {
  font-size: 1.5vh;
  color: rgb(201, 201, 201);
}

.submitBtn {
  margin-top: 6%;
  margin-bottom: 10%;
  width: 50%;
  height: 40px;
  color: white;
  font-size: 2vh;
  border: 1px solid rgb(0, 0, 0);
  background-color: black;
  transition: 0.25s;
  border-radius: 10px
}

.submitBtn:hover {
  font-size: 2vh;
  cursor: pointer;
  border-radius: 10px;
  color: white;
  background-color: #494FEE;
}

.signUpHeader {
  text-align: center;
  margin-top: 0%;
  font-weight: 300;
  font-size: 5.5vh;
  margin-bottom: 8vh;
}

select {
  display: block;
  width: 30%;
  font-size: 1.75vh;
  font-weight: 400;
  border: 2px solid black;
  margin-top: 1%;
  margin-bottom: 2.5%;
}
