#card-hover {
  cursor: pointer;
  position: relative;
  transition: all 1s;
  &:after,
  &:before {
    content: ' ';
    width: 10px;
    height: 10px;
    position: absolute;
    transition: all 1s;
  }
  &:after {
    top: -1px;
    right: -1px;
    border-top: 2px solid white;
    border-right: 2px solid white;
  }
  &:before {
    bottom: -1px;
    left: -1px;
    border-bottom: 2px solid white;
    border-left: 2px solid white;
  }
  &:hover {
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    &:before,
    &:after {
      width: 25%;
      height: 25%;
    }
  }
}
