@import './constants.scss';

.AWS-container {
  margin-top: 40px;
}

.charts {
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
}

.chart {
  margin: 10px;
  text-align: center;
}

.AWSheader {
  padding: 40px;
  margin: 10px;
  text-align: center;
}
