@import './constants.scss';

.AWS-container {
  margin-top: 40px;
}

.ecsCharts-container {
  padding: 20px;
  background-color: white;
  margin: 20px;
  border-radius: 10px;

  #service-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
  }

  .ecsCharts {
    display: grid;
    grid-template-columns: auto auto;
  }
}

.charts {
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
}

.chart {
  margin: 10px;
  text-align: center;
}

.js-plotly-plot {
  box-shadow: $boxshadow;
}

.region {
  font-size: 12px;
  color: $teal;
  padding: 4px 6px;
  outline: 0.4px solid $teal;
  border-radius: 4px;
}

.AWSheader {
  padding: 40px;
  margin: 10px;
  text-align: center;
}

.ClusterTable-container {
  margin: 0 20px 20px;
}
