$brandgold: #fce356;
$sidebarblue: #24262f;
$headergray: #dedede;

@mixin centerWithFlex($justify: center) {
  display: flex;
  align-items: center;
  justify-content: $justify;
}

@keyframes blink {
  0%,
  65% {
    background-color: red;
  }
  66%,
  100% {
    background-color: rgb(170, 1, 1);
  }
}