$yellow: #fce356;
$navy: #12172a;
$background: #fff;
$grey: #eeeeee;
$icon: #999999;
$header: #888888;
$hover: rgba(255,255,255, 0.1);
$red: rgb(170, 1, 1);
$boxshadow: 2px 2px 6px rgb(187, 187, 187);
$boxshadow1: 0 2px 2px 0 rgba(153, 153, 153, 0.14), 0 3px 1px -2px rgba(153, 153, 153, 0.2), 0 1px 5px 0 rgba(153, 153, 153, 0.12);
$boxshadow2: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
$boxshadow3: 0 6px 6px 0 rgba(153, 153, 153, 0.14), 0 6px 6px -2px rgba(153, 153, 153, 0.2), 0 6px 8px 0 rgba(153, 153, 153, 0.12);
$logoPositionLeft: 55px;
$cardColorHover: #ccd8e1;
$logoPositionTop: 40px;
$logoSize: 25px;
$logoTransition: 100ms;
$sproutSize: 50px;
$originalSproutLeftOffset: -12px;
$sproutLeftOffset: -26px;
$sproutTopOffset: 67px;
$sproutLeftOffsetIncrement: 64px;
$headerFontSize: 18px;

@mixin centerWithFlex($justify: center, $direction: row, $align: center) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $direction;
}

@mixin centerModal($width: auto, $minwidth: 400px) {
  @include centerWithFlex(center, column);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  width: $width;
  min-width: $minwidth;
  min-height: 100px;
  background-color: $background;
}

@mixin modalHeader() {
  font-weight: 700;
  font-size: 200%;
  color: $navy;
}

@keyframes blink {
  0%,
  65% {
    background-color: $red;
  }
  66%,
  100% {
    background-color: $red;
  }
}

@keyframes twirl {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}

@keyframes glow {
  0% {
    background-color: $navy;
  }
  66% {
    background-color: lighten($navy, 35%);
  }
  100% {
    background-color: $navy;
  }
}
