.contact {
  background-color: #f4f4f4;
  height: 100%;
  display: flex;
  justify-content: flex-start;
}
.contact-border {
  width: 120vh;
  margin: 10vh 20vh;
  background-color: rgb(245, 237, 237);
  border-radius: 10px;
  border: 1px solid black;
  z-index: 0;
  display: flex;
  flex-direction: row;
  padding-top: 50px;
  padding-left: 40px;
}
.contact-container {
  padding: 20px;
  margin-right: 0;
  height: 70vh;
  justify-content: left;
  width: 45%;
  min-width: 30vh;
  line-height: 3vh;
}
.contact-blurb {
  padding-left: 2vh;
  font-size: 20px;
}
.email-container {
  flex-direction: row;
  margin: 0 0;
  margin-left: 20vh;
  width: 50vh;
  min-width: 20vh;
  line-height: 5vh;
  font-size: 20px;
}
.email-container textarea {
  font-size: 15px;
  width: 30vh;
  height: 20vh;
}
.email-container input {
  font-size: 15px;
}
.chronos-contact-container {
  height: 20vh;
  width: 40vh;
}
.chronos-contact-container img {
  margin-top: 5vh;
  height: 20vh;
  width: 40vh;
}
.email-container input[type='text'] {
  width: 20vh;
}
.email-container #email {
  width: 23.5vh;
}
.email-container #subject {
  width: 22.5vh;
}

#myfile {
  font-size: 17px;
}

#contact-submit {
  font-size: 16px;
  width: 9vh;
}

#contact-submit:hover {
  font-size: 13px;
  background-color: cyan;
  padding: 3px 7px;
  border-radius: 4px;
  border-color: #313639;
}
