@import './constants.scss';

.contact {
  height: 100%;
  vertical-align: top;
  justify-content: center;
  color: $darkgrey;
}
.contact-border {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  width: 60vw;
  margin: 10vh 20vh;
  background-color: $background;
  border-radius: 10px;
  border: none;
  box-shadow: $boxshadow2;
  padding: 30px;
}
.contact-container {
  padding: 20px;
  margin-right: 0;
  justify-content: left;
  min-width: 50%;
}
.contact-blurb {
  min-width: 50%;
  font-size: 14px;
}
.email-container {
  flex-direction: row;
  padding: 20px;
  margin: 0;
  min-width: 50%;
  font-size: 14px;
}
.email-container textarea {
  font-size: 12px;
}
.email-container input {
  font-size: 12px;
}

.email-container input[type='text'] {
  width: 300px;
}
.email-container #email {
  width: 300px;
}
.email-container #subject {
  width: 300px;
}

#myfile {
  font-size: 12px;
}

#contact-submit {
  font-size: 14px;
  width: 9vh;
  border: none;
  outline: none;
  color: $background;
  background-color: $header;
  border-radius: 4px;
  padding: 5px;
  &:hover {
    background-color: $lightblue;
  }
}

#issueLink {
  color: $header;
  text-decoration: none;
  &:hover {
    color: $lightblue;
  }
}