@import './constants.scss';

.graphs-container {
  width: 100%;
  padding: 0 5%;

  .graphs {
    @include centerWithFlex();
    flex-wrap: wrap;

    .chart {
      margin: 10px 20px;
    }
  }

  svg {
    border-radius: 3px;
    // border: thin solid rgb(155, 155, 155);
    box-shadow: 2px 2px 6px rgb(187, 187, 187);

  }
}

#docker-stats-chart {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 3px;
  box-shadow: 3px 3px 3px rgba(216, 210, 247, 0.5);
  height: 380px;
  width: 380px;
  padding: 10px 10px 10px 10px;
}

#docker-stats-chart-header {
  align-self: center;
  font-size: 1.5em;
  padding-bottom: 25px;
  height: 400;
  width: 400;
}

/* Tablet */
@media screen and (min-width: 601px) and (max-width: 980px) {
  .graphsGrid {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* Normal */
@media screen and (min-width: 1000px) and (max-width: 1500px) {
  .graphsGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Lg Screen */
@media screen and (min-width: 1600px) {
  .graphsGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}
