.graphsGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  align-items: center;
  margin: auto;
}

.speedChart {
  grid-column-end: span 1;
  text-align: center;
}
.temperatureChart {
  grid-column-end: span 1;
  text-align: center;
}
.requestChart {
  grid-column-end: span 1;
  text-align: center;
}
.responseCodeChart {
  grid-column-end: span 1;
  text-align: center;
}

.processesChart {
  grid-column-end: span 2;
  text-align: center;
}
.latencyChart {
  grid-column-end: span 2;
  text-align: center;
}
.trafficChart {
  grid-column-end: span 2;
  text-align: center;
}
.memoryChart {
  grid-column-end: span 2;
  text-align: center;
}



svg {
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(78, 78, 78, 0.068);
}
