.graphsGrid {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 30px; /* align-items: center; */
  margin: auto;
  padding-bottom: 25px;
  border-radius: 2px;
  box-shadow: 2px 2px 2px rgba(216, 210, 247, 0.5);
}

svg {
  border-radius: 2px;
  box-shadow: 2px 2px 2px rgba(216, 210, 247, 0.5);
}

#docker-stats-chart {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 3px;
  box-shadow: 3px 3px 3px rgba(216, 210, 247, 0.5);
  height: 380px;
  width: 380px;
  padding: 10px 10px 10px 10px;
}

#docker-stats-chart-header {
  align-self: center;
  font-size: 1.5em;
  padding-bottom: 25px;
  height: 400;
  width: 400;
}

/* Tablet */
@media screen and (min-width: 601px) and (max-width: 980px) {
  .graphsGrid {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* Normal */
@media screen and (min-width: 1000px) and (max-width: 1500px) {
  .graphsGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Lg Screen */
@media screen and (min-width: 1600px) {
  .graphsGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}
