.graphs-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f4f4f4;
}

/* Application and Microservice header */
.headers {
  margin: 25px auto 35px;
  text-align: center;
}

.header-app {
  font-size: 350%;
}

.header-service {
  font-size: 200%;
}

/* Live data dot */
.dot {
  background-color: red;
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  margin-right: 5px;
  animation: blink 1s infinite;
}

.headers button {
  padding: 6px;
  border: thin solid #24262f;
  border-radius: 3px;
  background-color: #484e63;
  color: #fff;
  min-width: 105px;
  transition: 0.2s;
}

.headers button:hover {
  background-color: #24262f;
}

@keyframes blink {
  0%,
  65% {
    background-color: red;
  }
  66%,
  100% {
    background-color: rgb(170, 1, 1);
  }
}

.graphsGrid {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 30px;
  margin: auto;
  padding-bottom: 25px;
}

svg {
  border-radius: 2px;
  box-shadow: 2px 2px 2px rgba(216, 210, 247, 0.5);
}

#docker-stats-chart {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 3px;
  box-shadow: 3px 3px 3px rgba(216, 210, 247, 0.5);
  height: 380px;
  width: 380px;
  padding: 10px 10px 10px 10px;
}

#docker-stats-chart-header {
  align-self: center;
  font-size: 1.5em;
  padding-bottom: 25px;
  height: 400;
  width: 400;
}

/* Tablet */
@media screen and (min-width: 601px) and (max-width: 980px) {
  .graphsGrid {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* Normal */
@media screen and (min-width: 1000px) and (max-width: 1500px) {
  .graphsGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Lg Screen */
@media screen and (min-width: 1600px) {
  .graphsGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}
