@import './constants.scss';
.microservice-header {
  width: 100%;
  @include centerWithFlex(center);
  flex-direction: column;
  padding: 93px 0 0;
  // background-color: $grey;
  // color: $darkgrey;
  margin-bottom: 30px;
  margin-top: 20px;
  h1 {
    font-weight: 500;
    letter-spacing: 2px;
    margin: 0;
  }
}

.dropdown {
  position: relative;
  .services {
    position: absolute;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
    .select {
      width: 250px;
    }
  }
  &.active {
    z-index: 3;
  }
}

.filter {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 34px;
  left: 0;
  z-index: 3;
}

.select {
  height: 50px;
  // width: 250px;
  padding: 5px 35px;
  background-color: $background;
  font-size: 14px;
  color: $header;
  border-radius: 5px;
  border: none;
  height: 30px;
  appearance: none;
  cursor: pointer;
  margin: 15px auto 0;
  &:not(.disabled):hover {
    background-color: #c5c5c5;
  }
  input[type='checkbox'] {
    opacity: 0;
  }
  &.disabled {
    cursor: default;
  }
}

.service-button {
  height: 100%;
  width: 100%;
  padding: 5px;
  background-color: lightblue;
  color: black;
}

label.select {
  display: block;
  margin: 0;
  border-bottom: 1px solid #00000033;

  &.selected {
    background-color: #c5c5c5;
  }

  &:first-of-type {
    border-top: 1px solid #00000033;
  }
}

.header {
  display: flex;
  color: $header;
  #return {
    position: absolute;
    top: 20px;
    left: 300px;
    font-size: 18px;
    color: $header;
    margin: 10px;
    padding: 5px;
    text-decoration: none;
    transition: 0.1s;
    font-size: 90%;
    // &:hover{
    //   background-color: $background;
    // }
    /* Live data dot */
    .dot {
      background-color: $warningred;
      display: inline-block;
      height: 10px;
      width: 10px;
      border-radius: 50%;
      margin-right: 5px;
      animation: blink 1s infinite;
    }
  }
  #returnToDash {
    font-size: 18px;
    color: $header;
    text-decoration: none;
    position: absolute;
    top: 13px;
    left: 11px;
    &:hover {
      cursor: pointer;
      color: $gblue;
      font-weight: 500;
    }
  }
}

.microserviceTitle {
  color: $header;
  font-size: 32px;
  font-family: 'Roboto';
  &:hover {
    color: $gblue;
    font-weight: 700;
    cursor: pointer;
  }
}

#gatherLiveData {
  height: auto;
  font-size: 12px;
  color: $background;
  background-color: $header;
  padding: 10px;
  border-radius: 10px;
  &:hover {
    background-color: $gblue;
  }
}

#live {
  height: auto;
  width: 120px;
  font-size: 12px;
  color: $warningred;
  background-color: $background;
  padding: 10px;
  border-radius: 10px;
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.icon {
  vertical-align: middle;
  text-align: center;
  color: $icon;
  background-color: $background;
  box-sizing: content-box;
  border-radius: 50%;
  box-shadow: $boxshadow1;
  line-height: 1.42857143;
  white-space: nowrap;
  display: inline-flex;
  outline: 0;
  border: none;
  cursor: pointer;
  position: relative;
  min-height: auto;
  white-space: nowrap;
}

#returnIcon {
  position: absolute;
  top: -10px;
  left: -60px;
  font-size: 42px;
  margin: 10px;
  padding: 5px;
  &:hover {
    cursor: pointer;
    box-shadow: $boxshadow3;
    color: $gblue;
  }
}

.microservice-header {
  button.service-button {
    margin: 0;
    &:hover {
      background-color: #67688d;
    }
  }
}
