.home {
  background-color: #f4f4f4;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.home img {
  margin-top: 75px;
  width: 400px;
  height: auto;
  animation: twirl 20s infinite linear;
  transition: 0.3s ease-in;
}

.home h1 {
  font-size: 325%;
  letter-spacing: 2px;
  margin: 0 0 15px;
}

.get-started-btn {
  width: 175px;
  font-size: 145%;
  padding: 10px;
  letter-spacing: 0.5px;
  text-decoration: none;
  border: thin solid #242631;
  border-radius: 10px;
  background-color: #242631;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
}

.get-started-btn:hover {
  background-color: #494fee;
}

.home img:hover {
  filter: brightness(0.90);
}
@keyframes twirl {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
