@import url('https://fonts.googleapis.com/css?family=Baloo+Bhaijaan&display=swap');

body {
  background-color: #333;
  background: rgb(25,0,36);
}

html {
  /* prevent the gradient from repeating past the visible section*/
  /* min-height: 100% */
  max-width: 1920;
  max-height: 1080;
}

body {
  /* background-color: #333; Original background*/
  background-color: rgb(248, 249, 253);
}

img {
  margin-bottom: -75px;
}