@import url('https://fonts.googleapis.com/css?family=Baloo+Bhaijaan&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&family=Quicksand:wght@300&display=swap');
@import './constants.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f4f4f4;
  font-size: 16px;
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
  overflow-x: hidden;
}

button {
  font-size: 90%;
  padding: 6px;
  border: thin solid #24262f;
  border-radius: 3px;
  background-color: #484e63;
  color: #fff;
  min-width: 105px;
  transition: 0.2s;
}

button:hover {
  background-color: #24262f;
}
