@import url('https://fonts.googleapis.com/css?family=Baloo+Bhaijaan&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Nunito:wght@200&family=Quicksand:wght@300&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: rgb(248, 249, 253);
  background: #24262F;
  font-size: 16px;
  font-family: 'Nunito', sans-serif;
  overflow-x: hidden;
}



/* img {
  margin-bottom: -75px;
} */
