@import './constants.scss';

.main-container {
  flex: 1;
  min-height: 100vh;
  @include centerWithFlex(space-between);
  flex-direction: column;

  .copyright-container {
    @include centerWithFlex();
    width: 100%;
  }
}
