@import './constants.scss';
.main-container {
  background-color: $grey;
  flex: 1;
  min-height: 100vh;
  @include centerWithFlex(space-between);
  flex-direction: column;
  padding-left: $sidebarWidth;
  .main-routes {
    width: 100%;
    height: 100%;
    padding-bottom: 20px;
  }
  .copyright-container {
    @include centerWithFlex(center);
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;
    margin: 30px 0px;
    color: $background;
  }
}
