@import './constants.scss';
.main-container {
    // background-image: url('../assets/mountain_longer.png');
    // background-size: contain;
    // flex: 1;
    // min-height: 100vh;
    @include centerWithFlex(space-between);
    // flex-direction: column;
    // padding-left: 140px;
    .main-routes {
        width: 100%;
        height: 100%;
        padding-bottom: 20px;
    }
    .copyright-container {
        @include centerWithFlex(center);
        position: fixed;
        bottom: 0;
        width: 100%;
        padding: 10px;
        margin: 30px 0px;
        color: $background;
    }
}