#serviceDetailsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: black;
  border-radius: 5px;
  background-color: #F9FAFE;
  font-size: 22
}
