#serviceDetailsContainer {
  /* margin-top: 1%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: black;
  border-radius: 5px;
  background-color: #F9FAFE;
  font-family: 'Nunito', sans-serif;
  font-size: 22
}

#microserviceHealthTitle{
  color: black;
  font-size: 38px;
  margin-top: 0px;
  font-family: 'Quicksand', sans-serif;
}