.overviewSubmitBtn {
  font-family: 'Nunito', sans-serif;
  background-color: #24262F;
  margin: 8% auto 0 auto;
  height: 40px;
  width: 150px;
  border: none;
  font-size: 1.50vh;
  color: whitesmoke;
  transition: 0.25s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.overviewSubmitBtn:hover {
  background-color: #494FEE;
  color: azure;
  cursor: pointer;
}
