.modal {
  width: 250px;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 10px ;
}

.modal h3 {
  text-align: center;
  margin: 5px auto 10px
}

.link {
  font-size: 110%;
  text-decoration: none;
  display: block;
  border: thin solid black;
  border-radius: 5px;
  padding: 8px;
  margin: 5px auto;
  background-color: #24262F;
  color: #fff;
  transition: 0.1s ease-in;
  text-align: center;
}

.link:hover {
  color: white;
  background-color: #494fee;
}