@import './constants.scss';

.settings {
  background-image: url('../assets/mountain_longer.png');
  background-size: contain;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
  position: absolute;
  margin-left: 50px;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 1;
}

.mode {
  display: flex;
  font-size: 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 280px;
  width: 280px;
  text-align: center;
  box-shadow: $boxshadow2;
  margin: 20px;
  font-weight: 100;
}

#lightMode {
  color: $darkgrey;
  background-color: $grey;
  box-shadow: $boxshadow2;
  opacity: 0.4;

  &:hover {
    opacity: 0.8;
    font-weight: 600;
  }
}

#darkMode {
  color: $background;
  background-color: transparent;
  box-shadow: $boxshadow3;

  &:hover {
    background-color: rgba(255, 255, 255, 0.3);
    font-weight: 600;
  }
}