@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Nunito:wght@200&family=Quicksand:wght@300&display=swap');

.left {
  height: 100%;
  color:white;
  font-family: 'Nunito', sans-serif;
  background-color: #24262F;
  /* display: flex; */
}

.leftTopContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  align-content: center;
  height: 1000px;
}

.left-bottom {
  display: flex;
  flex-direction: column;
  align-content: center;
  grid-auto-columns: 100%;
  align-items: center;
  align-content: center;
}





/* img and div display flex flex direction row */
/*     height: 100px;
    position: relative;
    margin-left: -203px; */

