@import './constants.scss';

#titleBar {
  position: fixed;
  display: flex;
  justify-content: flex-end;
  background-color: $darkblue;
  color: white;
  width: calc(100% - #{$sidebarWidth});
  -webkit-app-region: drag;
  z-index: 2;
  .button {
    -webkit-app-region: no-drag;
  }
}
