@import '../../index.scss';

.add-container {
  @include centerModal(30%, 500px);
}

.env-button {
  background-color: rgb(201, 198, 198);
  border: 0;
  outline: none;
  white-space: nowrap;
  margin: 10px;
  // padding: 0px;
  color: white;
  box-shadow: $boxshadow;
  padding: 2rem;
  &:hover {
    background-color: $gblue;
  }
}

.env-button2 {
  background-color: rgb(201, 198, 198);
  border: 0;
  outline: none;
  white-space: nowrap;
  margin: 10px;
  // padding: 0px;
  color: white;
  box-shadow: $boxshadow;
  padding: 2rem;
  &:hover {
    background-color: $gblue;
  }
}

p {
  padding: 0 !important;
}

#card-env {
  margin: 40px 20px;
}

