#graphType {
    min-width: 100px;
    height: 25px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
    background-size: 120% auto;
    background-image: linear-gradient(315deg, #bdc3c7 0%, #2c3e50 75%);
    margin-top: 10px;
    margin-bottom: 10px;

}

#graphType {
    background-position: right center;
}

#graphType {
    top: 2px;
}

#timeFrame {
    min-width: 100px;
    height: 25px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
    background-size: 120% auto;
    background-image: linear-gradient(315deg, #bdc3c7 0%, #2c3e50 75%);
    margin-top: 10px;
    margin-bottom: 10px;

}

#timeFrame {
    background-position: right center;
}

#timeFrame {
    top: 2px;
}

#Grafana_Event_Chart {
    margin-bottom: 50px;
}